xml/editorial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- elementos simples -->
    <xs:element name="editorial" type="xs:string" />
    <xs:element name="titulo" type="xs:string" />
    <xs:element name="descripcion" type="xs:string" />
    <xs:element name="fecha_informe" type="xs:date" />

    <!-- elemento simple un poco mas complejo -->
    <xs:element name="trimestre">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="numero" type="xs:integer" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <!-- elementos complejos -->
    <xs:element name="cabecera">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="editorial" />
                <xs:element ref="titulo" />
                <xs:element ref="descripcion" />
                <xs:element ref="fecha_informe" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="region">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="trimestre" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="nombre" type="xs:string" />
        </xs:complexType>
    </xs:element>

    <xs:element name="datos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="region" minOccurs="3" maxOccurs="3" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="informe">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cabecera" maxOccurs="1" />
                <xs:element ref="datos" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>