xml/empresa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- declaracion de elementos finales -->
    <!-- tipo simple para simplificar simplemente -->
    <xs:simpleType name="CapitalizeLetterFirst">
        <xs:restriction base="xs:string">
            <xs:minLength value="2" />
            <xs:pattern value="[A-Z][a-zA-Z\s]*" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="nombre" type="CapitalizeLetterFirst" />

    <xs:element name="apellido" type="CapitalizeLetterFirst" />

    <xs:element name="fechaNacimiento">
        <!-- (1/1/1990 - 31/12/2004) restriction -->
        <xs:simpleType>
            <xs:restriction base="xs:date">
                <xs:minInclusive value="1975-01-01" />
                <xs:maxInclusive value="2004-12-31" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="salario">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:fractionDigits value="2" />
                <xs:minInclusive value="10000" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="activo" type="xs:boolean" />

    <xs:element name="horaEntrada">
        <!-- (06h - 14h) restriction -->
        <xs:simpleType>
            <xs:restriction base="xs:time">
                <xs:minInclusive value="06:00:00" />
                <xs:maxInclusive value="10:00:00" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>


    <!-- declaracion del elemento raiz -->
    <xs:element name="empleado">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nombre" />
                <xs:element ref="apellido" />
                <xs:element ref="fechaNacimiento" />
                <xs:element ref="salario" />
                <xs:element ref="activo" />
                <xs:element ref="horaEntrada" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required" />
        </xs:complexType>
    </xs:element>

    <!-- declaracion del elemento empresa con mas elementos-->
    <xs:element name="empresa">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="empleado" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="nombreEmpresa" type="xs:string" fixed="TechCorp" />
        </xs:complexType>
    </xs:element>


</xs:schema>