xml/empresa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- tipo simple para simplificar simplemente -->
    <xs:simpleType name="CapitalizeLetter">
        <xs:restriction base="xs:string">
            <xs:minLength value="2" />
            <xs:pattern value="[A-Z][a-zA-Z\s]*" />
        </xs:restriction>
    </xs:simpleType>

    <!-- declaracion de elementos finales -->
    <xs:element name="nombre" type="CapitalizeLetter" />
    <xs:element name="apellido" type="CapitalizeLetter" />
    <xs:element name="fechaNacimiento" type="xs:date"></xs:element>
    <xs:element name="salario">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:fractionDigits value="2" />
                <xs:minInclusive value="10000" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="activo" type="xs:boolean"></xs:element>
    <xs:element name="horaEntrada" type="xs:time"></xs:element>

    <!-- declaracion del elemento raiz -->
    <xs:element name="empleado">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nombre" />
                <xs:element ref="apellido" />
                <xs:element ref="fechaNacimiento" />
                <xs:element ref="salario" />
                <xs:element ref="activo" />
                <xs:element ref="horaEntrada" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required" />
        </xs:complexType>
    </xs:element>

    <!-- declaracion del elemento empresa con mas elementos-->
    <xs:element name="empresa">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="empleado" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="nombreEmpresa" type="xs:string" fixed="TechCorp" />
        </xs:complexType>
    </xs:element>


</xs:schema>