xml/libreria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- declaracion de elementos finales -->
    <xs:element name="titulo" type="xs:string" />
    <xs:element name="autor" type="xs:string" />
    <xs:element name="anio" type="xs:string" />
    <xs:element name="genero">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Fantasía" />
                <xs:enumeration value="Ciencia Ficción" />
                <xs:enumeration value="Novela Histórica" />
                <xs:enumeration value="Terror" />
                <xs:enumeration value="Realismo Mágico" />
                <xs:enumeration value="Distopía" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <!-- declaracion de elemento raiz-->
    <xs:element name="libro">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="titulo" />
                <xs:element ref="autor" />
                <xs:element ref="anio" />
                <xs:element ref="genero" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="libreria">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="libro" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>