xml/libros.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- declaracion de elementos finales -->
    <xs:element name="title" type="xs:string" />
    <xs:element name="author" type="xs:string" />
    <xs:element name="year" type="xs:integer" />
    <xs:element name="publisher" type="xs:string" />
    <!-- para el catalogo de llama biblioteca es opcional -->
    <xs:element name="library" type="xs:string" />
    <xs:element name="nsqboolean" type="xs:boolean" />

    <!-- declaracion del elemento raiz -->
    <xs:element name="book">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="title" />
                <xs:element ref="author" />
                <xs:element ref="year" />
                <xs:element ref="publisher" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- declaracion del elemento empresa con mas elementos-->
    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="book" maxOccurs="10" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>