xml/libros.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- declaracion de elementos finales -->
    <xsd:element name="title" type="xsd:string" />
    <xsd:element name="author" type="xsd:string" />
    <xsd:element name="year" type="xsd:integer" />
    <xsd:element name="publisher" type="xsd:string" />
    <xsd:attribute name="biblioteca" type="xsd:string" />

    <!-- declaracion del elemento raiz -->
    <xsd:element name="book">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="title" />
                <xsd:element ref="author" />
                <xsd:element ref="year" />
                <xsd:element ref="publisher" />
            </xsd:sequence>
            <xsd:attribute name="prestado" type="xsd:boolean" />
        </xsd:complexType>
    </xsd:element>

    <!-- declaracion del elemento empresa con mas elementos-->
    <xsd:element name="catalog">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="book" maxOccurs="10" />
            </xsd:sequence>
            <xsd:attribute ref="biblioteca" use="optional" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>