xml/operaciones.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- atributos simples -->
    <xs:attribute name="moneda" type="xs:string" />

    <!-- elementos simples -->
    <xs:element name="titulo" type="xs:string" />
    <xs:element name="proveedor" type="xs:string" />
    <xs:element name="fecha_compra" type="xs:string" />
    <xs:element name="num_libros_vendidos" type="xs:string" />
    <xs:element name="entregado" type="xs:boolean" />

    <!-- elemento simple & complex-->
    <xs:element name="importe">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:double">
                    <xs:attribute ref="moneda" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <!-- elementos complejos -->
    <xs:element name="venta">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="titulos_vendidos" maxOccurs="unbounded" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="titulos_vendidos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="titulo" maxOccurs="unbounded" minOccurs="1" />
                <xs:element ref="num_libros_vendidos" />
                <xs:element ref="entregado" minOccurs="0" maxOccurs="1" />
                <xs:element ref="importe" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="compra">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="titulos_comprados" maxOccurs="unbounded" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="titulos_comprados">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="titulo" minOccurs="1" maxOccurs="unbounded" />
                <xs:element ref="proveedor" />
                <xs:element ref="fecha_compra" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="operacion">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="compra" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="venta" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="operaciones">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="operacion" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>