xml/tienda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- declaracion de elementos finales -->
    <xs:element name="nombre">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="4" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="precio">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="0.0" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="cantidad" type="xs:positiveInteger" />

    <!-- declaracion del elemento raiz -->
    <xs:element name="producto">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nombre" />
                <xs:element ref="precio" />
                <xs:element ref="cantidad" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- declaracion del elemento tienda con mas elementos -->
    <xs:element name="tienda">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="producto" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>