xml/universidad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- declaracion de elementos finales -->
    <xs:element name="nombre" type="xs:string" />
    <xs:element name="edad" type="xs:integer" />
    <xs:element name="carrera" type="xs:string" />

    <!-- declaracion del elemento raiz -->
    <xs:element name="estudiante">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nombre" />
                <xs:element ref="edad" />
                <xs:element ref="carrera" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- declaracion de elemento universidad con mas elementos -->
    <xs:element name="universidad">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="estudiante" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>